<%- include('partials/header.ejs') %>
<div class="details">
  <h2>Add New Contact</h2>
</div>
<div class="form_container">
  <form action="/add-contact" method="post">
    <div class="form_group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="first_Name" required />

      <label for="LastName">Last Name:</label>
      <input type="text" id="LastName" name="last_Name" required />

      <label for="Email">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="Phone">Phone:</label>
      <input type="tel" id="phone" name="phone" required />

      <label for="address">Address:</label>
      <textarea id="address" name="address" rows="3" required> </textarea>
    </div>
    <div class="btn_1">
      <div class="button1">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      <div class="button2">
        <a href="/home" class="btn btn-outline-secondary">Cancel</a>
      </div>
    </div>
  </form>
</div>

<%- include('partials/footer.ejs') %>
